.footer {
    height: 80px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    font-family: roboto;
    align-items: center;
}

.footer__logo a {
    text-decoration: none;
}

.footer__social {}
