/client/android/*.iml
/client/android/.gradle
/client/android/local.properties
/client/android/.idea/caches
/client/android/.idea/libraries
/client/android/.idea/modules.xml
/client/android/.idea/workspace.xml
/client/android/.idea/navEditor.xml
/client/android/.idea/assetWizardSettings.xml
/client/android/.DS_Store
/client/android/build
//client/android/captures
/client/android/.externalNativeBuild
/client/android/.cxx
/client/android/local.properties

# dependencies
/client/web/node_modules
/client/web/.pnp
/client/web/.pnp.js

# testing
/client/web/coverage

# production
/client/web/build

# misc
/client/web.DS_Store
/client/web.env.local
/client/web.env.development.local
/client/web.env.test.local
/client/web.env.production.local

/client/webnpm-debug.log*
/client/webyarn-debug.log*
/client/webyarn-error.log*
