.header {
    height: 60px;
    border: 1px solid black;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
}

.header__logo {
    font-family: roboto;
    font-weight: 700;
    font-size: 25px;
}

.header__links {}

.header__search {}

.header__comein {}
