.activation_success {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    min-width: 300px;
}

.success-message {
    display: flex;
    flex-direction: column;
    width: 340px;
    background: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
